<h1>Burgers</h1>

<div id="list-block-one">
  <h2 id="burgers-to-devour-title">Burgers in need of devouring</h2>

  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=0}}
    {{/unless}}
    {{/each}}
  </ul>

</div>

<div id="addBurger">
  <h2>Add A Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="burger_name">Burger Name:</label>
      <input type="text" id="burger_name" name="name">
    </div>
    <button type="submit">Add that Burger!</button>
  </form>
</div>

<div id="list-block-two">
  <h2 id="burgers-devoured-title">Burgers in need of nothing</h2>

  <ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=1}}
    {{/if}}
    {{/each}}
  </ul>
</div>
