<div class="row">
  <div class="col-md-12" id="header">
    <h1 id="header-title">Burger Simulator</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="burger-list">
      <h2 class="list-title">Burgers 2 Devour</h2>
      <ul id="individual-burgers-1">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=0}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <img id="burger-pic" src="https://freepngimg.com/thumb/burger%20sandwich/72-hamburger-burger-png-image-mac-burger.png">
    <div id="addBurger">
      <h2>Add A Burger</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="burger_name">Burger Name:</label>
          <input type="text" id="burger_name" name="name">
        </div>
        <button type="submit">Add that Burger!</button>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="burger-list">
      <h2 class="list-title">Devoured Burgers</h2>
      <ul id="individual-burgers-2">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=1}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>