#header{
    margin-top:10px;
    text-align:center;
}
#header-title{
    padding:4px;
    border-style: double;
    display:inline;
}
#addBurger{
    margin-top:30px;
    text-align:center;
}
#burger-pic{
    width:75%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
}
body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,200,0,1) 50%, rgba(204,97,21,1) 100%);
    background-repeat: no-repeat;
    height:100%;
    margin: 0;
}
html{
    height:100%;
}
.burger-list{
    background-image:url("https://freepngimg.com/thumb/paper%20sheet/2-paper-sheet-png-image.png");
    background-size: cover;
    padding:32px;
}
.list-title{
    text-decoration: underline;
    margin-bottom:25px;
    margin-top:15px;
}
#individual-burgers-1{
    margin-left:25px;
    font-weight: bold;
}
#individual-burgers-2{
    margin-left:38px;
    font-weight: bold;
}