<li>
    {{burger}}
        {{#unless devoured}}
            <button class="devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
                devour!
             </button>
        {{/unless}}
</li>