{{!-- html chunk that will be used to generate the devour buttons giving them the burgers id and devoured value --}}
{{!-- buttons will only be generated if devoured value = 0(false) --}}
<li>
    {{burger}}
        {{#unless devoured}}
            <button class="devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
                devour!
             </button>
        {{/unless}}
</li>